[Unit]
Description=Audio Auto-Capture Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/diyaqua/capture.py -a

[Install]
WantedBy=multi-user.target
